<?xml version="1.0" encoding="UTF-8"?>
<!-- This Filter used to fetch requirement specific data from SonarQube server. -->
<Filter>
	<Types>BUG,VULNERABILITY</Types>
	<Resolutions>FALSE-POSITIVE,WONTFIX,FIXED,REMOVED</Resolutions>
	<Severities>BLOCKER</Severities>
	<Projects></Projects>
	<DateRange>
		<CreatedAfter>2019-02-03</CreatedAfter>
		<CreatedBefore>2019-02-15</CreatedBefore>
	</DateRange>
</Filter>
